.brand-icon{
  height:20px;
  width: 20px;
  margin-right:4%;
  margin-bottom: 1.5%;
}

.navbar{
  background-color: #ffe3d8;
  margin-bottom: 0;
}

.navbar-nav{
  margin-left: auto;
  margin-right: 5%;
}

.nav-item{
  margin-right: 8px;
}

.top-container{
  margin-top: 1%;
  padding-bottom: 8px;
}

.fa-user{
  margin-right: 5px;
}

.card{
  text-align: center;
  background-color: #ffe3d8;
  margin: 4%;
  display: inline-block;
  padding: 10px;
}

.card-btn{
  margin-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-text{
  line-height: 200%;
}

.card-title{
  margin-bottom: 10%;
}

.middle-container{
  margin-top:20px;
}

.middle-images{
  margin-left: 14%;
  width: 20rem;
  height: 25rem;
}

.middle-text{
  text-align: center;
  padding-top: 4%;
}

.middle-row{
  text-align: center;
}

.middle-btn{
  font-size: 20px;
  width: 150px;
  margin-top: 5%;
}

.b-container{
  background-color: #ffe3d8;
  margin-top: 12%;
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
}

.b-container-1{
  background-color: white;
  height: 300px;
  text-align: center;
  padding : 5%;
  padding-bottom: 150px;
  padding-top: 50px;
  line-height: 30px;
  z-index: 1;
  margin-bottom: 2%;
  margin-top: 2%;
}

.animation-block-1{
  height: 25rem;
  width: 20rem;
  background-color: #ffe3d8;
  position: absolute;
  top:580px;
  right: 1000px;
  z-index: -1;
}

.animation-block-2{
  height: 25rem;
  width: 20rem;
  background-color: #ffe3d8;
  position: absolute;
  top:580px;
  right: 570px;
  z-index: -1;
}

.animation-block-3{
  height: 25rem;
  width: 20rem;
  background-color: #ffe3d8;
  position: absolute;
  top:580px;
  right: 120px;
  z-index: -1;
}

.plant{
  width:35rem;
  height:30rem;
  position: absolute;
  top:1200px;
  right : 450px;
  z-index: 0;
}

.group{
  width:20rem;
  border: solid 40px;
  border-bottom: 0;
  border-color: white;
  height:26rem;
  position: absolute;
  top:1320px;
  right:270px;
}
